<!DOCTYPE html>
<html ng-app="myngCsv">
  <head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
     <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body ng-controller="ngcsvCtrl">
    
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <div class="row">
          <div class="col l3" style="margin-left: -170px"><img src="valeo.jpg"></div>
          <div class="col l9">
            <h1 class="header center orange-text">Data Evaluation</h1>
          </div>
        </div>
        <div class="row center">
          <h5 class="header col s12 light">Reads an excel file containing  data and displays it on website</h5>
        </div>
        <div class="row center">
        </div>
        <br><br>
  
      </div>
    </div>

     
    <div class="container">
    <div class = "row">
        <div class = "col l4">
              <div class = "file-field input-field">
                 <div class = "btn-large waves-effect waves-light orange">
                    <span><i class="material-icons">attach_file</i></span>
                    <input type = "file" data-file-reader-directive="fileContent" accept=".csv"/>
                 </div>
                 
                 <div class = "file-path-wrapper">
                    <input class = "file-path validate " type = "text"
                       placeholder = "Upload file" />
                 </div>
              </div>
            </div>
        <div class="col l4">
            <div class = "field">
              <div class="btn-large waves-effect waves-light orange">  
                <span ng-click="uploadFile()"><i class="material-icons">file_upload</i></span>
              </div><span id="typed-strings" class="orange-text" style="padding-left: 15px"></span>
            </div>  
          </div>   
        </div>
      </div>
     
      <div class="container" style="height: 50px"></div>

  <div class="container">
    <div class="row">  
      <div class="col l3">
      <a href="" class="dropdown-button waves-effect waves-light btn btn-large orange" ng-model="reg_no_selected" data-activates="dropdown1">Select a Reg. No.<i class="material-icons">arrow_drop_down</i></a>
      <ul id='dropdown1' class='dropdown-content'>
        <li ng-repeat="item in regno" ng-model="rem">
          <a href="#!" ng-click="getRegNo(item)" class="orange-text">{{item}}</a>
        </li>
      </ul>
    </div>
     <div class="col l3"> 
      <div class = "file-path-wrapper">
        <input class = "file-path validate" id="typed-regno" ng-model="typed_regno" ng-change="getRegNo(typed_regno)" type = "text"
           placeholder = "Registration Number" />
      </div>
     </div>
     <div class="col l3"> 
        <div class = "file-path-wrapper">
          <input class = "file-path validate" id="typed-name" ng-model="typed_name" type = "text"
             placeholder = "Name" />
        </div>
       </div>
    </div>    
    <br/><br/>
  
    </div>

    <div class="container">
      <div class="row">  
    <div class="col l9">
        <table class="highlight centered ">
          <thead>
            <tr>
                <th>Question</th>
                <th>Option A</th>
                <th>Option B</th>
                <th>Option C</th>
                <th>Option D</th>
            </tr>
          </thead>
    
          <tbody>
            <tr ng-repeat="item in tableArray">
              <td>{{item[2]}}</td>
              <td>
                <i ng-show="{{item[3]}}" class="material-icons">check_box</i>
                <i ng-show="!{{item[3]}}" class="material-icons">check_box_outline_blank</i>
              </td>
              <td>
                <i ng-show="{{item[4]}}" class="material-icons">check_box</i>
                <i ng-show="!{{item[4]}}" class="material-icons">check_box_outline_blank</i>
              </td>
              <td>
                <i ng-show="{{item[5]}}" class="material-icons">check_box</i>
                <i ng-show="!{{item[5]}}" class="material-icons">check_box_outline_blank</i>
              </td>
              <td>
                <i ng-show="{{item[6]}}" class="material-icons">check_box</i>
                <i ng-show="!{{item[6]}}" class="material-icons">check_box_outline_blank</i>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
  </div>    
  <br/><br/>

  </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="app.js"></script>  
  </body>
</html>
